[submodule "ros2_ws/src/FAST_LIO"]
	path = ros2_ws/src/FAST_LIO
	url = https://github.com/sjtumrgx/SIM-SLAM.git
	branch = submodule/FAST_LIO/rc2026-fast-lio2-humble-deps
[submodule "ros2_ws/src/livox_ros_driver2"]
	path = ros2_ws/src/livox_ros_driver2
	url = https://github.com/Ericsii/livox_ros_driver2.git
